.input-number-wrapper {
  display: flex;
  flex-direction: column;
}

.input-number-wrapper input {
  margin: auto;
  width: 200px;
}

.has-error input {
  border: 2px solid red;
}

.help-block {
  color: red;
  font-style: italic;
}
